openai
langchain
PyPDF2
docx2txt
fastapi
uvicorn
tiktoken
python-dotenv
faiss-cpu
jinja2
python-multipart
sqlalchemy
pandas
# pylint
pylint
# test
pytest
pytest-cov
nbval
# formatter
black
# rust based linter
ruff
